* {
    box-sizing: border-box;
}
body {
    background-color: #FFE2B0;
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    font-size: 15px;
}
ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}
li {
    display: inline;
    margin-right: 100px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 18px;
} 
li:last-child {
    margin-right: 0px;
}
nav {
    margin-bottom: 20px
}
.section-about {
    height: 640px;
    background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 20px;
}
.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244,213,178,0.8) 0%, rgba(234, 156,65,0.8)100%);
    position: absolute;
    left: 50%;
    top: 54%;
    padding-top: 15px;
}
.section-about__border{
    height: 160px;
    width: 390px;
    border: 1px solid black;
    margin: 0 auto; 
    position: relative;
    padding-top: 17px;
    padding-left: 28px;
    text-align: left;
}
.section-about__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
}
.section-about__text {
    font-size: 12px;
    margin: 0;
}
.section-discription {
    margin-bottom: 20px;
}
.section-discription__icon-box {
    text-align: center;
    margin-bottom: 20px;
}
.section-discription__icon-box img {
    margin-right: 76px;
}
.section-discription__icon-box img:last-child {
    margin-right: 0px;
}
.section-discription__title {
    font-size: 96px;
    margin: 0px;
    text-align: center;
}
.section-discription__span {
    color: #F15B40;
}
.section-discription__text {
    font-size: 18px;
    margin: 0px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.section-map {
    margin-bottom: 20px;
}
.section-map__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
}
iframe {
    display: block;
    margin: 0 auto;
}
.line {
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.box-4 {
    margin-bottom: 20px;
}
footer {
    height: 80px;
}